[Unit]
Description=Pianopi Script
After=network.target

[Service]
ExecStart=/usr/local/bin/pianopi-startup.sh
StandardOutput=journal
StandardError=journal
WorkingDirectory=/usr/local/bin/
Restart=on-failure

[Install]
WantedBy=multi-user.target
